.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 1em;
}

.card {
  font-size: 0.7em;
}

@media only screen and (max-width: 65em) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 45em) {
  .container {
    grid-template-columns: 1fr;
  }
}
